
body{
	
	text-align: center;

	background-color: #630518;

	font-family: 'monospace';

}

h1{

	font-weight: bold;
	border: 2px solid black;
	border-radius: 4px;
	/*background-color: white;*/
	font-size: 72px;
	padding: 0.5em;
	
}

h3{

	font-size: 48px;
	background-color: #630518;
	color: white;


}

h4{

	font-size: 36px;
	color: white;
}


img{

	width: 80vw;
	height: 60vh;
}

p, li{

	font-size: 24px;
	margin: 1em;
}

section{

	padding: 4em;
	border-top: 20px solid #630518;
}

input[type=range]{

	margin: 4em;
}

input[type=radio], input[type=checkbox]{

	transform: scale(2.0);
	margin-right: 2em;
}

#main{

	background-color: #630518;
	width: 90%;
	margin: 0 auto;

}

#submit{

	font-size: 48px;
	margin: 1em;

}


#header{


	background-color: white;
}


.intro{

	padding: 2em;
	line-height: 2em;
	color: white;
	border: 8px black dotted;
	font-size: 32px;
}


ul{

	list-style-type: none;
}

ol{


}

button{

	font-size: 32px;
	margin: 0.5em;
	background-color: white;
	color: #630518;
	border: 2px solid black;
	border-radius: 9999px;
	padding: 0.5em;

}

button:hover{

	background-color: #630518;
	color: white;
	cursor: pointer;
}

#0, #1{

	  transition: opacity 0.6s ease, visibility 0.6s ease;
}




nav{

	background-color: #630518;
	color: white;
	text-align: center;
	font-size: 48px;
	
	border-bottom: solid 4px black;

}


.questions{

	border: solid 8px black; 
	border-radius: 9999px; 
	overflow: hidden;
	margin-bottom: 4em;
	background-color: white;
	padding-top: 1em;
}

#sign{

	background-color: #630518;
	color: white;
}


/*input[type="radio"]{

	transform: scale(1.5);
	padding: 1em;

}*/